
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.date {
    color: #595959;
    text-align: center;
    /* float: top; */
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 230, 0);
    z-index: 1000;
}

.date p{
    margin-left: 20px;
}
.header-image {
    padding: 0 0 2px 2px;
    text-align: center;
}

.header-text{
    padding-top: 70px;
    color: #595959;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;

}

.asana{
    color: #595959;
    padding: 0 0 2px 2px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.asana-list{
    color: #595959;
    padding: 0 0 2px 2px;
    text-align: center;
}



h1 {
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 230, 0);
    letter-spacing: 4px;
}

ul{
    border-width: 2px;
    letter-spacing: 2px;
}

.asana-examples{
    color: #595959;
    display: flex;
    font-size: 10px;
    letter-spacing: 2px;
    flex-wrap: wrap;
    justify-content: center;
}

.unit {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asana-examples img {
    width: auto;
    height: 300px;
    display: flex;
    position: relative;
    width: 80%;
    object-fit: contain;
  }

figure{
    width: max-content;
    background-color: rgb(255, 230, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    text-align: center;
    color: #595959;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #595959;
    letter-spacing: 2px;
}

a{
    color:rgba(11, 98, 60, 0.736);
}

#comment-box, #post {
    border-width: 1px;
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(0, 255, 145, 0.316);
    color: #595959;
}


#post:hover{
    background-color: rgb(255, 230, 0);
}